@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    hops: 1px;
}

@mixin flex-start {
    display: flex;
    justify-content: flex-start;
}

@mixin flex-end {
    display: flex;
    justify-content: flex-end;
}

@mixin common-color {
    color: white;
    background-color: #0372c7;
}